html, body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  height: 70%;
  display: flex; /* теперь разбиваем на два блока по горизонтали */
}

.top-left {
  width: 25%;
  background-color: #f8d7da;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.top-middle {
  width: 50%;
  background-color: #dc9ba2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.top-right {
  width: 25%;
  background-color: #f5c6cb;
  display: flex;
  flex-direction: column;
}

.top-right-top {
  height: 75%;
  background-color: #f5c6cb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.top-right-bottom {
  height: 25%;
  background-color: #d9c4c6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.middle {
  height: 25%;
  background-color: #d4edda;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.bottom {
  height: 5%;
  background-color: #a0d3dc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

#LogBox {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 8px;
  box-sizing: border-box;
  /*background-color: #ffffff; */ /* опционально — для контраста */
}